<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 ">
				<form class="login100-form " [formGroup]="loginForm" (submit)="onSubmit()">
					<span class="login100-form-title ">
						Login
					</span>

					<div class="wrap-input100 ">
						<span class="label-input100">Nom d'utilisateur</span>
						<input class="input100" type="text"  placeholder="Saisir votre nom d'utilisateur" formControlName="pseudo" required>
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 ">
						<span class="label-input100">Mot de passe</span>
						<input class="input100" type="password"  placeholder="Saisir votre mot de passe" formControlName="mdp" required>
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="text-right ">
						<a href="#">
							Mot de passe oublié
						</a>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Connexion
							</button>
						</div>
					</div>

					
				</form>
			</div>
		</div>
	</div>