<mat-toolbar *ngIf="isLogin">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon><img src="../assets/img/menu_28px.png" alt=""></mat-icon>
  </button>
  <div class="info-cont">
    <img src={{userAv}} alt="" class="avatar">
    {{userName}}
  </div>
</mat-toolbar>
<mat-sidenav-container  autosize>
  <mat-sidenav *ngIf="isLogin" [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list *ngFor="let item of navList">
      <a route="item.path" mat-list-item>
        <span class="entry">
           <mat-icon><img src={{item.icon}} alt=""></mat-icon>
           <span class="it-sp" *ngIf="!isCollapsed">{{item.name}}</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class={{nonPad()}}>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
