<div class="tab-container">
    <h1>Service</h1>
    <div class="head-cont">
      <mat-form-field>
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      <div class="but-cont">
        <app-mod-service [donnees]=donnee (donneesChanged)="infoChangedHandler"></app-mod-service>
      </div>
      
    </div>

    <mat-spinner *ngIf="!isLoaded"></mat-spinner>
    <table *ngIf="isLoaded" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="CODE_SER">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.CODE_SER}} </td>
          </ng-container>
        
        <ng-container matColumnDef="LIBELLE">
            <th mat-header-cell *matHeaderCellDef> Libelle </th>
            <td mat-cell *matCellDef="let element"> {{element.LIBELLE}} </td>
          </ng-container>
        
        <ng-container matColumnDef="SIGLE">
            <th mat-header-cell *matHeaderCellDef> Sigle </th>
            <td mat-cell *matCellDef="let element"> {{element.SIGLE}} </td>
          </ng-container>
        
        <ng-container matColumnDef="VILLE">
            <th mat-header-cell *matHeaderCellDef> Ville </th>
            <td mat-cell *matCellDef="let element"> {{element.VILLE}} </td>
          </ng-container>
        
        <ng-container matColumnDef="ADRESSE">
            <th mat-header-cell *matHeaderCellDef> Adresse </th>
            <td mat-cell *matCellDef="let element"> {{element.ADRESSE}} </td>
          </ng-container>
        
        <ng-container matColumnDef="CONTACT">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let element"> {{element.CONTACT}} </td>
        </ng-container>

        <ng-container matColumnDef="ACTION">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="primary" (click)="getInfo(element)">
              <mat-icon><img src="../../../assets/img/edit_25px.png" alt=""></mat-icon>
            </button> 
            <button (click)="deleteService(element.CODE_SER)" mat-icon-button color="primary">
              <mat-icon><img src="../../../assets/img/trash_40px.png" alt=""></mat-icon>
            </button> 
          </td>
        </ng-container>
        
        <tr class="thS" mat-header-row *matHeaderRowDef="thList"></tr>
        <tr mat-row *matRowDef="let row; columns: thList;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Aucune donnée ne correspond à "{{input.value}}"</td>
          </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
